// fonts
@font-face {
    font-family: "ApfelGrotezk-Regular";
    src: url("/src/assets/typefaces/ApfelGrotezk-Regular.woff2") format("woff2");
}

// variables
$backgroundColor: #111111;
$textColorPrimary: #f2f2f2;

body {
    background: $backgroundColor;
    color: $textColorPrimary;
    font-family: ApfelGrotezk-Regular;
}

nav {
    width: 100%;

    ul {
        align-items: center;
        display: inline-flex;
        flex-wrap: nowrap;
        font-size: 1.5em;
        justify-content: center;
        list-style-type: none;
        margin: 0;
        padding: 0;
        width: 100%;
    }

    li {
        cursor: pointer;
        margin: 10px 25px 10px 10px;
        padding: 3px;
        transform: preserve-3d;
    }

    .navbarListItemName {
        background-color: $textColorPrimary;
        border-radius: 40px;
        box-shadow: 0 0 0 2.8px white; 
        color: $backgroundColor;
        padding: 3px 20px 5px 20px;
        text-decoration: none;      
    }

    .navbarListItemName:visited {
        border-radius: 40px;  
        box-shadow: 0 0 0 2.8px white; 
        color: $textColorPrimary;
        padding: 3px 20px 5px 20px;
        text-decoration: none;
    }

    .navbarListItemName:hover {
        background-color: $backgroundColor;
        border-radius: 40px;
        box-shadow: 0 0 0 2.8px $backgroundColor; 
        color: $textColorPrimary;
        filter: blur(1px);
        padding: 3px 20px 5px 20px;
        text-shadow: 0 0 2.5px rgba(255, 255, 255, 1);  
    }

    .navbarListItemNameActive {
        background-color: $backgroundColor;
        border-radius: 40px;
        box-shadow: 0 0 0 2.8px $backgroundColor; 
        color: $textColorPrimary;
        filter: blur(1px);
        padding: 3px 20px 5px 20px;
        text-shadow: 0 0 2.5px rgba(255, 255, 255, 1);
    }
}