// fonts
@font-face {
    font-family: "ApfelGrotezk-Regular";
    src: url("/src/assets/typefaces/ApfelGrotezk-Regular.woff2") format("woff2");
}

// variables
// color
$backgroundColor: #111111;
$textColorPrimary: #f2f2f2;

// breakpoints
$breakpointMobile: 900px;
$breakpointSmallScreen: 1300px;

// scrollbar
// width
::-webkit-scrollbar {
    width: 0.2em;
}

// track
::-webkit-scrollbar-track {
    background: #111111;
}

// handle
::-webkit-scrollbar-thumb {
    background: #ffffff;
}

// handle hover
::-webkit-scrollbar-thumb:hover {
    background: rgba(255, 255, 255, 1);
}

// body, html styling
body {
    background: $backgroundColor;
    color: $textColorPrimary;
    font-family: ApfelGrotezk-Regular;
    height: 100%;
    margin: 0;
    padding: 0;
    width: 100%;
}

// navbar
nav {
    width: 100%;

    ul {
        align-items: center;
        display: inline-flex;
        font-size: 1.5em;
        justify-content: center;
        list-style-type: none;
        margin: 0;
        padding: 0;
        width: 100%;
    }

    li {
        cursor: pointer;
        margin: 10px 25px 10px 10px;
        padding: 3px;
        transform: preserve-3d;
    }

    .navbarListItemName {
        background-color: $textColorPrimary;
        border-radius: 40px;
        box-shadow: 0 0 0 2.8px $textColorPrimary;
        color: $backgroundColor;
        padding: 3px 20px 5px 20px;
        text-decoration: none;

        &:visited {
            border-radius: 40px;
            box-shadow: 0 0 0 2.8px $textColorPrimary;
            color: $textColorPrimary;
            padding: 3px 20px 5px 20px;
            text-decoration: none;
        }

        &:hover {
            background-color: $backgroundColor;
            border-radius: 40px;
            box-shadow: 0 0 0 2.8px $backgroundColor;
            color: $textColorPrimary;
            filter: blur(1px);
            padding: 3px 20px 5px 20px;
            text-shadow: 0 0 2.5px rgba(255, 255, 255, 1);
        }
    }

    .navbarListItemNameActive {
        background-color: $backgroundColor;
        border-radius: 40px;
        box-shadow: 0 0 0 2.8px $backgroundColor;
        color: $textColorPrimary;
        filter: blur(1px);
        padding: 3px 20px 5px 20px;
        text-shadow: 0 0 2.5px rgba(255, 255, 255, 1);
    }
}

.navbarMobileNav {
    display: none;
}

label {
    display: flex;
    margin: -18px 25px 10px 10px;
    outline: none;
    padding: 0px;
    position: absolute;
    right: -35px;
    transform: scale(0.5);
}

.hamburger {
    background-color: transparent;
    border: none;
    cursor: pointer;
    display: none;
    overflow: hidden;
}

.line {
    fill: none;
    stroke: $textColorPrimary;
    stroke-width: 6.25px;
    transition: stroke-dasharray 600ms cubic-bezier(0.4, 0, 0.2, 1),
                stroke-dashoffset 600ms cubic-bezier(0.4, 0, 0.2, 1);
}

.line1 {
    stroke-dasharray: 69 224;
    stroke-dashoffset: 0;
    stroke-width: 6.25px;
}

.line2 {
    stroke-dasharray: 69 69;
    stroke-dashoffset: 0;
    stroke-width: 6.25px;
}

.line3 {
    stroke-dasharray: 69 211;
    stroke-dashoffset: 0;
    stroke-width: 6.25px;
}

.opened .line1 {
    stroke-dasharray: 90 207;
    stroke-dashoffset: -161.35;
    stroke-width: 6.25px;
}

.opened .line2 {
    stroke-dasharray: 1 69;
    stroke-dashoffset: -30;
    stroke-width: 6.25px;
}

.opened .line3 {
    stroke-dasharray: 90 211;
    stroke-dashoffset: -148;
    stroke-width: 6.25px;
}

@media (max-width: $breakpointMobile) {
    .navbarNav {
        display: none;
    }

    .navbarMobileNav {
        display: flex;
    }

    .hamburger {
        display: flex;
    }

    ul {
        background-color: $backgroundColor;
        display: flex;
        flex-direction: column;
        height: 100%;
        position: absolute;
        top: 2em;
        width: 100%;
    }

    li {
        align-self: flex-end;
        position: relative;
        right: 5%;
        top: -32.5%;
        z-index: 999999;
    }
}

// images
.recentWorkImgLandscape {
    height: auto;
    margin-bottom: 2.5em;
    width: 50%;
}

.recentWorkImgPortrait {
    height: auto;
    margin-bottom: 2.5em;
    width: 30%;
}

@media (max-width: $breakpointMobile) {
    .recentWorkImgLandscape, .recentWorkImgPortrait {
        height: auto;
        width: 85%;
    }
}

// pages
.pageContainer {
    align-items: center;
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 5em;
    width: 100%;

    a {
        color: $textColorPrimary;
        text-decoration: none;
        margin: 0;
        padding: 0;

        &:hover {
            filter: blur(1px);
        }
    }

    .pageHeader {
        font-size: 3em;
    }

    h1 {
        font-size: 1em;
    }

    .mainDivPageContentProject {
        line-height: 1.3em;
        width: 50%;
    }

    .mainDivPageContentAbout {
        line-height: 1.3em;
        width: 50%;
    }

    .shortBioDetails,
        .bioStatement,
        .educationDetails,
        .enquiriesDetails {
            margin-bottom: 2em;
        }

        .shortBioDetailsText {
            margin: 0;
            padding: 0;
        }

        .bioStatementText,
        .educationDetailsText {
            margin-bottom: 2em;
            margin-top: -0.6em;
        }

        .educationDetailsText {
            margin-bottom: 0.7em;
        }

        .enquiriesTitle {
            margin-bottom: -0.025em;
        }

    .projectWrapper {
        display: flex;
        flex-wrap: wrap;
        gap: 5%;
        justify-content: space-evenly;

        .imgWrapper {
            cursor: pointer;
            margin-bottom: 3em;
            width: 28%;

            .projectsImg {
                width: 100%;

                &:hover ~ .captionWrapper {
                    filter: blur(1px);
                }
            }
    
            .captionWrapper {
                display: flex;
                justify-content: space-between;
                width: 99.3%;
    
                .imgCaption {
                    font-size: 0.9em;
                }
            }
        }

        @media (max-width: $breakpointSmallScreen) {
            .imgWrapper {
                width: 85%;
            }
        }
    }

    .projectImgWrapper {
        align-items: center;
        display: inline-flex;
        flex-direction: column;
        justify-content: center;

        .projectImgLandscape {
            height: auto;
            margin-bottom: 2.5em;
            width: 100%;
        }
    
        .projectImgPortrait {
            height: auto;
            margin-bottom: 2.5em;
            width: 65%;
        }
    
        @media (max-width: $breakpointMobile) {
            .projectImgPortrait {
                width: 100%;
            }
        }
    }

    @media (max-width: $breakpointMobile) {
        .mainDivPageContentProject {
            width: 85%;
        }
    }

    @media (max-width: $breakpointMobile) {
        .mainDivPageContentAbout {
            width: 85%;
        }
    }
    
}